/* myReset:Start*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
button,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  color: #000;
  height: 100%;
  line-height: 1;
  font: normal 100% Cambria, Georgia, serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 20px; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: .83em; }

h6 {
  font-size: .75em; }

a,
a:hover,
a:focus {
  outline: none;
  color: #000; }

.decoration-none,
.decoration-none a {
  text-decoration: none; }

p {
  padding: 0;
  margin-bottom: 20px; }

img {
  border-style: none;
  outline: none;
  max-width: 100%; }

input,
textarea,
button,
.slick-slide {
  outline: none; }

button {
  cursor: pointer; }

strong {
  font-weight: bold; }

label {
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.text-center {
  text-align: center; }

.list-style-none,
.list-style-none ul {
  list-style: none; }

/* END:myReset */
@font-face {
  font-family: 'Cuprum-Regular';
  src: url("../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.woff") format("woff"), url("../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.ttf") format("truetype"), url("../fonts/Cuprum/Cuprum-Regular/Cuprum-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Cuprum-Bold';
  src: url("../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.woff") format("woff"), url("../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.ttf") format("truetype"), url("../fonts/Cuprum/Cuprum-Bold/Cuprum-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular/Roboto-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold/Roboto-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Roboto-BoldCondensed';
  src: url("../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.woff") format("woff"), url("../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.ttf") format("truetype"), url("../fonts/Roboto/Roboto-BoldCondensed/Roboto-BoldCondensed.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

a, .main__col-items-list > li, .main__col-items-list > li .main__col-items-description, .main__col-items-show-more-btn, .home__right-col-calendar-list > li .home__right-col-description, .home__right-col-news-list > li, .home__right-col-news-list > li .home__right-col-description .description .text, .home__right-col-news-show-more a, .home__add-sections-show-more-btn {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }

.myContainer:after, .site-header__top .right-block .top-block:after, .main__col-items-list:after, .main__col-items-bottom:after, .home__right-col-news-list > li .home__right-col-description .bottom-block:after {
  display: block;
  content: '';
  clear: both; }

body {
  font-family: 'OpenSans-Regular'; }

a {
  font-size: 14px;
  line-height: 20px;
  color: #2482C0; }

.myContainer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }

.site-header {
  padding-bottom: 19px; }
  .site-header__top {
    padding-bottom: 9px; }
    .site-header__top .left-block {
      float: left;
      padding-top: 11px; }
    .site-header__top .site-header__logo-wrap {
      float: left;
      padding-left: 25px;
      margin-right: 44px; }
      .site-header__top .site-header__logo-wrap .link {
        display: block; }
    .site-header__top .site-header__banner {
      float: left;
      font-family: 'Cuprum-Regular';
      font-size: 36px;
      text-transform: uppercase;
      padding: 26px 113px 34px 85px;
      text-align: center;
      color: #747478;
      background-image: url(../img/main/site-header__banner-bg.png);
      background-repeat: no-repeat;
      margin-right: 25px;
      margin-top: 12px; }
      .site-header__top .site-header__banner strong {
        font-family: 'Cuprum-Bold';
        font-weight: normal;
        letter-spacing: 0px; }
    .site-header__top .right-block {
      float: left;
      color: #454547; }
      .site-header__top .right-block .top-block {
        margin-bottom: 15px; }
    .site-header__top .site-header__date-wrap {
      float: left;
      font-family: 'OpenSans-Regular';
      padding-top: 27px;
      padding-right: 14px; }
      .site-header__top .site-header__date-wrap .week-date {
        font-size: 12px;
        background-image: url(../img/main/week-date.png);
        background-repeat: no-repeat;
        padding-left: 22px;
        background-position: 3px 0px;
        margin-bottom: 3px; }
      .site-header__top .site-header__date-wrap .full-date {
        font-family: 'OpenSans-Regular';
        font-size: 11px;
        line-height: 15px; }
    .site-header__top .site-header__login-area {
      float: left;
      font-family: 'OpenSans-Regular';
      padding: 6px 16px 15px 13px;
      background-color: #f9ef5d;
      /* layer fill content */
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZDkyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y5ZWY1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
      /* gradient overlay */
      background-image: -moz-linear-gradient(bottom, #f5d92f 0%, #f9ef5d 100%);
      /* gradient overlay */
      background-image: -o-linear-gradient(bottom, #f5d92f 0%, #f9ef5d 100%);
      /* gradient overlay */
      background-image: -webkit-linear-gradient(bottom, #f5d92f 0%, #f9ef5d 100%);
      /* gradient overlay */
      background-image: -webkit-gradient(linear, left bottom, left top, from(#f5d92f), to(#f9ef5d));
      background-image: linear-gradient(bottom, #f5d92f 0%, #f9ef5d 100%);
      /* gradient overlay */ }
      .site-header__top .site-header__login-area a {
        display: inline-block;
        font-size: 11px;
        line-height: 15px; }
      .site-header__top .site-header__login-area .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px; }
      .site-header__top .site-header__login-area .entry-wrap {
        display: inline-block;
        vertical-align: middle;
        color: #434345; }
        .site-header__top .site-header__login-area .entry-wrap .enter {
          display: inline-block;
          text-decoration: underline;
          color: #217AB4;
          position: relative; }
          .site-header__top .site-header__login-area .entry-wrap .enter:after {
            position: absolute;
            display: inline-block;
            content: '';
            top: 3px;
            right: -6px;
            width: 1px;
            height: 11px;
            background-color: #746f47; }
        .site-header__top .site-header__login-area .entry-wrap .register {
          text-decoration: underline;
          color: #454547;
          padding-left: 7px; }
    .site-header__top .site-header__search-field {
      display: inline-block;
      width: 100%;
      padding: 9px 13px;
      font-family: 'Roboto-Bold';
      font-size: 12px;
      color: #454547;
      line-height: 15px;
      text-transform: uppercase;
      border: none;
      border: 2px solid #e5e5e5;
      background-image: url(../img/main/site_header__search-field-icon.png);
      background-repeat: no-repeat;
      background-position: 96% 47%;
      padding-right: 33px; }
  .site-header__bottom {
    padding: 9px 0 10px 0;
    background-image: url(../img/main/site-header__bottom-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .site-header__bottom .site-header__nav-list li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      margin-right: 33px; }
      .site-header__bottom .site-header__nav-list li.shopping {
        margin-right: 44px; }
      .site-header__bottom .site-header__nav-list li.restaurants {
        margin-right: 42px; }
      .site-header__bottom .site-header__nav-list li.learning {
        margin-right: 41px; }
        .site-header__bottom .site-header__nav-list li.learning a {
          padding-left: 32px; }
      .site-header__bottom .site-header__nav-list li.cinema {
        margin-right: 29px; }
        .site-header__bottom .site-header__nav-list li.cinema a {
          padding-left: 31px; }
      .site-header__bottom .site-header__nav-list li.entertainment {
        margin-right: 42px; }
        .site-header__bottom .site-header__nav-list li.entertainment a {
          padding-left: 35px; }
      .site-header__bottom .site-header__nav-list li.sport {
        margin-right: 39px; }
        .site-header__bottom .site-header__nav-list li.sport a {
          padding-left: 30px; }
      .site-header__bottom .site-header__nav-list li.art {
        margin-right: 39px; }
      .site-header__bottom .site-header__nav-list li:last-child {
        margin-right: 0; }
        .site-header__bottom .site-header__nav-list li:last-child a {
          padding-left: 21px; }
      .site-header__bottom .site-header__nav-list li.home a {
        width: 31px;
        height: 31px; }
      .site-header__bottom .site-header__nav-list li a {
        display: inline-block;
        vertical-align: middle;
        font-family: 'OpenSans-Regular';
        font-size: 14px;
        text-decoration: underline;
        color: #FFF;
        background-repeat: no-repeat;
        padding-left: 25px;
        background-position: left; }
    .site-header__bottom .site-header__nav-list li.home a {
      background-image: url(../img/main/site-header__nav-list/home.png); }
    .site-header__bottom .site-header__nav-list li.shopping a {
      background-image: url(../img/main/site-header__nav-list/shopping.png); }
    .site-header__bottom .site-header__nav-list li.restaurants a {
      background-image: url(../img/main/site-header__nav-list/restaurants.png); }
    .site-header__bottom .site-header__nav-list li.learning a {
      background-image: url(../img/main/site-header__nav-list/learning.png); }
    .site-header__bottom .site-header__nav-list li.cinema a {
      background-image: url(../img/main/site-header__nav-list/cinema.png); }
    .site-header__bottom .site-header__nav-list li.entertainment a {
      background-image: url(../img/main/site-header__nav-list/entertainment.png); }
    .site-header__bottom .site-header__nav-list li.sport a {
      background-image: url(../img/main/site-header__nav-list/sport.png); }
    .site-header__bottom .site-header__nav-list li.art a {
      background-image: url(../img/main/site-header__nav-list/art.png); }
    .site-header__bottom .site-header__nav-list li.map a {
      background-image: url(../img/main/site-header__nav-list/map.png); }
  .site-header .site-header__sidebar-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 3.166667%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: #003E50;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .site-header .site-header__sidebar-menu.active {
      width: 14.6%; }
      .site-header .site-header__sidebar-menu.active .site-header__sticky-bar {
        opacity: 0;
        z-index: -3;
        width: auto; }
      .site-header .site-header__sidebar-menu.active .site-header__hidden-area {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
  .site-header .site-header__sticky-btn-toggle {
    padding: 22px;
    background: none;
    background-color: #2982C0;
    background-image: url(../img/main/hamburger-icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 100%;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .site-header .site-header__hidden-area {
    position: relative;
    height: 100%;
    padding-top: 46px;
    z-index: -1;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    width: auto;
    padding-right: 16px;
    padding-left: 18px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .site-header .site-header__sticky-bar {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .site-header .site-header__choose-city {
    margin-bottom: 17px; }
    .site-header .site-header__choose-city .title {
      font-family: 'OpenSans-Regular';
      font-size: 12px;
      margin-bottom: 8px;
      color: #fff; }
  .site-header .site-header__sidebar-dropdown {
    font-family: 'Roboto-Regular';
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    border: none;
    border: 2px solid #2982C0;
    color: #fff;
    background: transparent; }
    .site-header .site-header__sidebar-dropdown .jq-selectbox__select {
      background: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      text-shadow: none;
      color: #fff;
      border: none;
      height: 30px;
      width: 166px;
      padding-left: 10px; }
    .site-header .site-header__sidebar-dropdown .jq-selectbox__trigger {
      border-left: none;
      width: auto; }
    .site-header .site-header__sidebar-dropdown .jq-selectbox__trigger-arrow {
      border-top: 5px solid #4f81bd; }
  .site-header .site-header__hidden-area-close {
    position: absolute;
    top: 13px;
    right: 16px;
    display: inline-block;
    width: 21px;
    height: 21px;
    z-index: 1;
    border: none;
    background: none;
    background-image: url(../img/main/site-header__hidden-area-close.png);
    background-repeat: no-repeat;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .site-header .site-header__sidebar-weather {
    margin-bottom: 55px; }
    .site-header .site-header__sidebar-weather .img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px; }
    .site-header .site-header__sidebar-weather .description {
      display: inline-block;
      vertical-align: middle; }
      .site-header .site-header__sidebar-weather .description .submenu-list li {
        display: inline-block;
        list-style: none;
        font-family: 'Roboto-Regular';
        font-size: 16px;
        line-height: 20px;
        margin-right: 5px;
        color: #fff; }
      .site-header .site-header__sidebar-weather .description .details {
        font-family: 'OpenSans-Regular';
        font-size: 10px;
        color: #b5b5b5; }
  .site-header .site__header-taxi-btn {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto-Bold';
    font-size: 12px;
    padding: 10px;
    padding-left: 45px;
    text-transform: uppercase;
    color: #fff;
    background-color: #f79127;
    background-image: url(../img/main/taxi-lg.png);
    background-repeat: no-repeat;
    background-position: 10% center;
    width: 100%; }
  .site-header .site__header-taxi-block {
    margin-bottom: 36px; }
  .site-header .site__header-company-nav-list li {
    list-style: none;
    margin-bottom: 15px; }
    .site-header .site__header-company-nav-list li:last-child {
      margin-bottom: 0; }
    .site-header .site__header-company-nav-list li a {
      font-family: 'OpenSans-Regular';
      font-size: 14px;
      color: #fff; }
  .site-header .site-header__sticky-icons-list > li {
    font-family: 'OpenSans-Regular';
    list-style: none;
    padding-top: 33px;
    text-transform: uppercase;
    line-height: 15px;
    text-align: center; }
    .site-header .site-header__sticky-icons-list > li .icon {
      display: block;
      margin: 0 auto 2px; }
    .site-header .site-header__sticky-icons-list > li.taxi a {
      font-size: 10px;
      text-decoration: none;
      color: #f79228; }
    .site-header .site-header__sticky-icons-list > li.weather .icon {
      margin-bottom: 9px;
      margin-top: -7px; }
    .site-header .site-header__sticky-icons-list > li.weather .submenu-list li {
      list-style: none;
      font-size: 12px;
      margin-bottom: 2px;
      color: #E6E6E6; }

.section__title {
  font-family: 'Roboto-Bold';
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #434345;
  word-spacing: -2px; }

.site-footer {
  padding: 15px 0;
  background-image: url(../img/main/site-footer-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .site-footer__top .site-footer__logo-wrap {
    text-align: center; }
    .site-footer__top .site-footer__logo-wrap .link {
      display: inline-block;
      margin-bottom: 15px; }
  .site-footer__top .site-footer__logo-title {
    font-family: 'Roboto-Bold';
    font-size: 20px;
    text-transform: uppercase;
    color: #fff; }

.site-footer__copyright-block {
  float: left;
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  color: #fff; }
  .site-footer__copyright-block .icon {
    display: inline-block;
    vertical-align: middle; }

.site-footer__design-by {
  float: right;
  color: #fff; }
  .site-footer__design-by .link {
    display: inline-block; }
  .site-footer__design-by .text {
    display: inline-block;
    vertical-align: middle;
    font-family: 'OpenSans-Regular';
    font-size: 12px; }
  .site-footer__design-by .img {
    display: inline-block;
    vertical-align: middle; }

.arrow-scroll-btn {
  position: fixed;
  display: none;
  width: 56px;
  height: 59px;
  bottom: 25%;
  right: 3.166662%;
  display: inline-block;
  z-index: 2;
  background-image: url(../img/main/arrow-scroll-btn-new.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 18px 18px 13px 18px; }
  .arrow-scroll-btn:after {
    position: absolute;
    bottom: -3px;
    left: 5px;
    content: '';
    display: block;
    width: 51px;
    height: 4px;
    background-image: url(../img/main/arrow-scroll-btn-new-shadow.png);
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-transform: rotate(-1.1deg);
    -moz-transform: rotate(-1.1deg);
    -ms-transform: rotate(-1.1deg);
    -o-transform: rotate(-1.1deg);
    transform: rotate(-1.1deg); }

.home__main-content {
  margin-bottom: 11px; }

.home__left-col {
  float: left;
  width: 65.83333333333333%;
  margin-right: 2%; }

.main__col-items-list > li {
  position: relative;
  float: left;
  list-style: none;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 21px; }
  .main__col-items-list > li:nth-child(even) {
    margin-right: 0; }
  .main__col-items-list > li .favorite-label,
  .main__col-items-list > li .new-label {
    display: none;
    position: absolute;
    right: 0;
    background-repeat: no-repeat; }
  .main__col-items-list > li.favorite .favorite-label {
    display: block;
    top: 0;
    width: 49px;
    height: 49px;
    z-index: 1;
    background-image: url(../img/main/favorite-icon.png); }
  .main__col-items-list > li.new .new-label {
    display: block;
    top: 56px;
    padding: 8px 13px;
    font-family: 'Roboto-Bold';
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    background-color: #77c773;
    /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHkxPSI1MCUiIHgyPSIxMDAlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxYmQ2ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdlZDI3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    /* gradient overlay */
    background-image: -moz-linear-gradient(left, #71bd6e 0%, #7ed27a 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(left, #71bd6e 0%, #7ed27a 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(left, #71bd6e 0%, #7ed27a 100%);
    /* gradient overlay */
    background-image: -webkit-gradient(linear, left top, right top, from(#71bd6e), to(#7ed27a));
    background-image: linear-gradient(left, #71bd6e 0%, #7ed27a 100%);
    /* gradient overlay */ }
  .main__col-items-list > li .main__col-items-description {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 64px 40px 41px 22px;
    background-color: rgba(255, 255, 255, 0.8); }
    .main__col-items-list > li .main__col-items-description .new-desc-label {
      display: none;
      font-family: 'Roboto-Bold';
      font-size: 25px;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: #78c774; }
    .main__col-items-list > li .main__col-items-description .description {
      font-family: 'OpenSans-Regular';
      font-size: 14px;
      margin-bottom: 24px;
      color: #434345; }
    .main__col-items-list > li .main__col-items-description .more-btn {
      font-family: 'OpenSans-Regular';
      font-size: 13px;
      color: #6aaf66;
      text-decoration: underline; }
  .main__col-items-list > li.new:hover .new-desc-label {
    display: block; }

.main__col-items-title {
  font-family: 'Roboto-Bold';
  font-size: 20px;
  margin-bottom: 12px;
  color: #2482C0; }

.main__col-items-img-block {
  position: relative;
  margin-bottom: 13px; }
  .main__col-items-img-block .img {
    display: block;
    max-width: 100%;
    height: auto; }
  .main__col-items-img-block:hover .main__col-items-description {
    display: block; }
  .main__col-items-img-block:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    z-index: 1;
    background-color: #77c773; }

.main__col-items-reviews {
  float: left;
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  padding-left: 19px;
  color: #434345;
  background-image: url(../img/main/reviews-icon.png);
  background-repeat: no-repeat; }
  .main__col-items-reviews .count {
    font-size: 14px;
    color: #2482C0; }

.main__col-items-rating {
  float: right; }

.main__col-items-rating-list li {
  display: inline-block;
  vertical-align: middle; }

.main__col-items-show-more {
  text-align: center;
  margin-top: 12px; }

.main__col-items-show-more-btn {
  display: inline-block;
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  min-height: 25px;
  color: #4f81bd;
  background-image: url(../img/main/show-more-btn.png);
  background-repeat: no-repeat;
  background-position: 77% center;
  padding: 9px 77px 10px 40px; }
  .main__col-items-show-more-btn:hover {
    color: #fff;
    background-color: #4f81bd;
    background-image: url(../img/main/home__right-col-news-show-more-btn.png); }

.home__right-col {
  float: left;
  width: 32%; }
  .home__right-col .section {
    margin-bottom: 27px; }

.home__right-col-section.calendar-section {
  padding: 15px 15px 15px 23px;
  padding-top: 23px;
  background-color: #E9E9E9;
  padding-bottom: 33px;
  margin-bottom: 24px; }
  .home__right-col-section.calendar-section .section__title {
    text-align: center;
    margin-bottom: 30px; }

.home__right-col-section .home__right-col-show-more {
  text-align: center; }
  .home__right-col-section .home__right-col-show-more:hover a {
    border: 2px solid #f2f2f2; }

.home__right-col-section .home__right-col-show-more-btn {
  display: inline-block;
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  padding: 5px 18px;
  min-height: 32px;
  border: 2px solid transparent;
  color: #4f81bd;
  background-image: url(../img/main/show-more-btn.png);
  background-repeat: no-repeat;
  background-position: 84% 59%;
  padding-right: 60px; }

.home__right-col-calendar-list > li {
  position: relative;
  list-style: none;
  margin-bottom: 28px; }
  .home__right-col-calendar-list > li:last-child .home__right-col-description {
    padding-bottom: 23px; }
    .home__right-col-calendar-list > li:last-child .home__right-col-description .title {
      padding-left: 29px; }
  .home__right-col-calendar-list > li:last-child .date-wrap {
    top: 13px !important; }
  .home__right-col-calendar-list > li:last-child .year {
    margin-bottom: -7px !important; }
  .home__right-col-calendar-list > li .img {
    display: block;
    width: 100%;
    height: auto; }
  .home__right-col-calendar-list > li .home__right-col-img-block .date-wrap {
    position: absolute;
    top: 16px;
    right: 0;
    font-family: 'Roboto-BoldCondensed';
    text-transform: uppercase;
    padding: 0;
    padding-bottom: 15px;
    text-align: center;
    color: #cc3539;
    -webkit-box-shadow: 10px 17px 5px -12px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 10px 17px 5px -12px rgba(0, 0, 0, 0.8);
    box-shadow: 10px 17px 5px -12px rgba(0, 0, 0, 0.8);
    background-color: #cb3539;
    /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHkxPSI1MCUiIHgyPSIxMDAlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    /* gradient overlay */
    background-image: -moz-linear-gradient(left, #fff 0%, #fff 0.27%, #f6f6f6 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(left, #fff 0%, #fff 0.27%, #f6f6f6 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(left, #fff 0%, #fff 0.27%, #f6f6f6 100%);
    /* gradient overlay */
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(0.27%, #fff), to(#f6f6f6));
    background-image: linear-gradient(left, #fff 0%, #fff 0.27%, #f6f6f6 100%);
    /* gradient overlay */
    width: 61px; }
    .home__right-col-calendar-list > li .home__right-col-img-block .date-wrap .year {
      font-size: 8px;
      text-align: right;
      margin-bottom: -6px;
      margin-top: 6px;
      margin-right: 14px; }
    .home__right-col-calendar-list > li .home__right-col-img-block .date-wrap .day {
      font-size: 37px;
      margin-bottom: -10px; }
    .home__right-col-calendar-list > li .home__right-col-img-block .date-wrap .month {
      font-size: 14px; }
  .home__right-col-calendar-list > li .home__right-col-description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 19px 0px 27px 0px;
    padding-left: 24px;
    color: #f5f5f5;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #000 0%, transparent 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #000 0%, transparent 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #000 0%, transparent 100%);
    /* gradient overlay */
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
    background-image: linear-gradient(bottom, #000 0%, transparent 100%);
    /* gradient overlay */ }
    .home__right-col-calendar-list > li .home__right-col-description .title {
      float: left;
      display: none;
      max-width: 200px;
      font-family: 'OpenSans-Regular';
      padding-left: 28px;
      background-image: url(../img/main/concert-icon.png);
      background-repeat: no-repeat;
      background-position: 1% center;
      padding-bottom: 1px;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: normal;
      line-height: 19px; }
    .home__right-col-calendar-list > li .home__right-col-description .link-more-btn {
      display: inline-block;
      visibility: hidden;
      width: 37px;
      height: 37px;
      margin-right: 15px;
      background-image: url(../img/main/calendar-link-more.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      margin-top: -21.3px;
      right: 11px; }
  .home__right-col-calendar-list > li.concert .home__right-col-description .title {
    display: block; }
  .home__right-col-calendar-list > li:hover .home__right-col-description {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.7); }
  .home__right-col-calendar-list > li:hover .link-more-btn {
    visibility: visible; }

.home__right-col-news-list > li {
  position: relative;
  list-style: none;
  margin-bottom: 25px;
  overflow: hidden; }
  .home__right-col-news-list > li .home__right-col-img-block {
    position: relative; }
  .home__right-col-news-list > li .date-wrap {
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 0;
    padding: 11px 13px 16px 13px;
    font-family: 'Roboto-Bold';
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #efc72d;
    /* layer fill content */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSItMS40MjEwODU0NzE1MjAyZS0xNCUiIHkxPSI1MCUiIHgyPSIxMDAlIiB5Mj0iNTAlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYjkyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNlZmI5MjUiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmNhM2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    /* gradient overlay */
    background-image: -moz-linear-gradient(left, #efb925 0%, #efb925 0.51%, #efca3e 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(left, #efb925 0%, #efb925 0.51%, #efca3e 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(left, #efb925 0%, #efb925 0.51%, #efca3e 100%);
    /* gradient overlay */
    background-image: -webkit-gradient(linear, left top, right top, from(#efb925), color-stop(0.51%, #efb925), to(#efca3e));
    background-image: linear-gradient(left, #efb925 0%, #efb925 0.51%, #efca3e 100%);
    /* gradient overlay */ }
  .home__right-col-news-list > li .img {
    display: block;
    width: 100%;
    height: auto; }
  .home__right-col-news-list > li .home__right-col-description {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 29px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #000 0%, transparent 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #000 0%, transparent 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #000 0%, transparent 100%);
    /* gradient overlay */
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
    background-image: linear-gradient(bottom, #000 0%, transparent 100%);
    /* gradient overlay */
    padding-bottom: 2px; }
    .home__right-col-news-list > li .home__right-col-description .description .title {
      font-family: 'OpenSans-Regular';
      font-size: 20px;
      padding-bottom: 3px;
      margin-bottom: -1px;
      color: #ffffff;
      font-weight: 300; }
    .home__right-col-news-list > li .home__right-col-description .description .text {
      display: none;
      font-family: 'OpenSans-Regular';
      color: #c1b5b5;
      -webkit-transform: translateY(200%);
      -moz-transform: translateY(200%);
      -ms-transform: translateY(200%);
      -o-transform: translateY(200%);
      transform: translateY(200%);
      font-size: 12px;
      opacity: 0; }
    .home__right-col-news-list > li .home__right-col-description .bottom-block {
      padding-bottom: 25px;
      margin-top: 13px;
      position: relative; }
      .home__right-col-news-list > li .home__right-col-description .bottom-block .left-block {
        float: left;
        margin-top: -8px;
        margin-left: 1px; }
      .home__right-col-news-list > li .home__right-col-description .bottom-block .right-block {
        position: absolute;
        bottom: 16px;
        right: 2px; }
        .home__right-col-news-list > li .home__right-col-description .bottom-block .right-block .link-more-btn {
          display: inline-block;
          visibility: hidden;
          width: 37px;
          height: 37px;
          margin-right: 27px;
          background-image: url(../img/main/calendar-link-more.png);
          background-repeat: no-repeat;
          vertical-align: middle;
          padding-top: 5px; }
    .home__right-col-news-list > li .home__right-col-description .reviews .comments {
      background-image: url(../img/main/comments-icon.png); }
    .home__right-col-news-list > li .home__right-col-description .reviews .likes {
      background-image: url(../img/main/likes-icon.png); }
    .home__right-col-news-list > li .home__right-col-description .reviews .comments,
    .home__right-col-news-list > li .home__right-col-description .reviews .likes {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: left center; }
      .home__right-col-news-list > li .home__right-col-description .reviews .comments .link,
      .home__right-col-news-list > li .home__right-col-description .reviews .likes .link {
        display: inline-block;
        vertical-align: middle;
        font-family: 'OpenSans-Regular';
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 24px;
        margin-right: 10px;
        color: #4f81bd; }
  .home__right-col-news-list > li:hover .home__right-col-img-block .home__right-col-description .description .text {
    display: block;
    position: relative;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .home__right-col-news-list > li:hover .bottom-block .right-block .link-more-btn {
    display: inline-block;
    visibility: visible; }

.home__right-col-news-show-more {
  text-align: center; }
  .home__right-col-news-show-more a {
    display: inline-block;
    font-family: 'OpenSans-Regular';
    font-size: 12px;
    color: #4f81bd;
    background-image: url(../img/main/show-more-btn.png);
    background-repeat: no-repeat;
    background-position: 80% center;
    padding: 9px 68px 10px 42px; }
    .home__right-col-news-show-more a:hover {
      color: #fff;
      background-color: #4f81bd;
      background-image: url(../img/main/home__right-col-news-show-more-btn.png); }

.home__add-sections {
  background-color: #f7f7f7; }
  .home__add-sections .section {
    float: left;
    width: 44.600000000000001%;
    padding-top: 22px;
    margin-right: 6%;
    margin-bottom: 25px; }
    .home__add-sections .section:last-child {
      margin-right: 0; }

.home__add-sections-description {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  line-height: 20px;
  color: #454547; }

.home__add-sections-show-more-btn {
  display: inline-block;
  font-family: 'OpenSans-Regular';
  font-size: 12px;
  padding: 12px 68px 10px 20px;
  padding-right: 45px;
  min-height: 25px;
  color: #4f81bd;
  background-image: url(../img/main/show-more-btn.png);
  background-repeat: no-repeat;
  background-position: 93% center;
  margin-left: -20px; }
  .home__add-sections-show-more-btn:hover {
    color: #fff;
    background-color: #4f81bd;
    background-image: url(../img/main/home__right-col-news-show-more-btn.png); }
