.home {
    &__main-content {
        margin-bottom: 11px;
    }
    &__left-col {
        float: left;
        width: 65.83333333333333%;
        margin-right: 2%;
    }
}

.main__col-items-list {
    @extend %clearfix;
    > li {
        position: relative;
        float: left;
        list-style: none;
        width: 48%;
        margin-right: 4%;
        margin-bottom: 21px;
        @extend %default-transition;
        &:nth-child(even) {
            margin-right: 0;
        }
        .favorite-label,
        .new-label {
            display: none;
            position: absolute;
            right: 0;
            background-repeat: no-repeat;
        }
        &.favorite {
            .favorite-label {
                display: block;
                top: 0;
                width: 49px;
                height: 49px;
                z-index: 1;
                background-image: url(../img/main/favorite-icon.png);
            }
        }
        &.new {
            .new-label {
                display: block;
                top: 56px;
                padding: 8px 13px;
                font-family: 'Roboto-Bold';
                font-size: 25px;
                text-transform: uppercase;
                color: #fff;
                @include new-label;
            }
        }
        .main__col-items-description {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 64px 40px 41px 22px;
            background-color: rgba(#fff, 0.8);
            @extend %default-transition;
            .new-desc-label {
                display: none;
                font-family: 'Roboto-Bold';
                font-size: 25px;
                text-transform: uppercase;
                margin-bottom: 5px;
                color: #78c774;
            }
            .description {
                font-family: 'OpenSans-Regular';
                font-size: 14px;
                margin-bottom: 24px;
                color: #434345;
            }
            .more-btn {
                font-family: 'OpenSans-Regular';
                font-size: 13px;
                color: #6aaf66;
                text-decoration: underline;
            }
        }
        &.new:hover {
            .new-desc-label {
                display: block;
            }
        }
    }
}

.main__col-items-title {
    font-family: 'Roboto-Bold';
    font-size: 20px;
    margin-bottom: 12px;
    color: #2482C0;
}

.main__col-items-img-block {
    position: relative;
    margin-bottom: 13px;
    .img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    &:hover {
        .main__col-items-description {
            display: block;
        }
    }
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 3px;
        height: 100%;
        z-index: 1;
        background-color: #77c773;
    }
}

.main__col-items-bottom {
    @extend %clearfix;
}

.main__col-items-reviews {
    float: left;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    padding-left: 19px;
    color: #434345;
    background-image: url(../img/main/reviews-icon.png);
    background-repeat: no-repeat;
    .count {
        font-size: 14px;
        color: #2482C0;
    }
}

.main__col-items-rating {
    float: right;
}

.main__col-items-rating-list {
    li {
        display: inline-block;
        vertical-align: middle;
    }
}

.main__col-items-show-more {
    text-align: center;
    margin-top: 12px;
}

.main__col-items-show-more-btn {
    display: inline-block;
    font-family: 'OpenSans-Regular';
    font-size: 12px;
    min-height: 25px;
    color: #4f81bd;
    background-image: url(../img/main/show-more-btn.png);
    background-repeat: no-repeat;
    background-position: 77% center;
    padding: 9px 77px 10px 40px;
    @extend %default-transition;
    &:hover {
        color: #fff;
        background-color: #4f81bd;
        background-image: url(../img/main/home__right-col-news-show-more-btn.png);
    }
}

.home__right-col {
    float: left;
    width: 32%;
    .section {
        margin-bottom: 27px;
    }
}

.home__right-col-section {
    &.calendar-section {
        padding: 15px 15px 15px 23px;
        padding-top: 23px;
        background-color: #E9E9E9;
        padding-bottom: 33px;
        margin-bottom: 24px;
        .section__title {
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .home__right-col-show-more {
        text-align: center;
        &:hover {
            a {
                border: 2px solid #f2f2f2;
            }
        }
    }
    .home__right-col-show-more-btn {
        display: inline-block;
        font-family: 'OpenSans-Regular';
        font-size: 12px;
        padding: 5px 18px;
        min-height: 32px;
        border: 2px solid transparent;
        color: #4f81bd;
        background-image: url(../img/main/show-more-btn.png);
        background-repeat: no-repeat;
        background-position: 84% 59%;
        padding-right: 60px;
    }
}

.home__right-col-calendar-list {
    > li {
        position: relative;
        list-style: none;
        margin-bottom: 28px;
        &:last-child {
            .home__right-col-description {
                padding-bottom: 23px;
                .title {
                    padding-left: 29px;
                }
            }
            .date-wrap {
                top: 13px !important;
            }
            .year {
                margin-bottom: -7px !important;
            }
        }
        .img {
            display: block;
            width: 100%;
            height: auto;
        }
        .home__right-col-img-block {
            .date-wrap {
                position: absolute;
                top: 16px;
                right: 0;
                font-family: 'Roboto-BoldCondensed';
                text-transform: uppercase;
                padding: 0;
                padding-bottom: 15px;
                text-align: center;
                color: #cc3539;
                box-shadow: 10px 17px 5px -12px rgba(0, 0, 0, 0.8);
                @include calendar-date;
                width: 61px;
                .year {
                    font-size: 8px;
                    text-align: right;
                    margin-bottom: -6px;
                    margin-top: 6px;
                    margin-right: 14px;
                }
                .day {
                    font-size: 37px;
                    margin-bottom: -10px;
                }
                .month {
                    font-size: 14px;
                }
            }
        }
        .home__right-col-description {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 19px 0px 27px 0px;
            padding-left: 24px;
            color: #f5f5f5;
            @include calendar-description;
            @extend %default-transition;
            .title {
                float: left;
                display: none;
                max-width: 200px;
                font-family: 'OpenSans-Regular';
                padding-left: 28px;
                background-image: url(../img/main/concert-icon.png);
                background-repeat: no-repeat;
                background-position: 1% center;
                padding-bottom: 1px;
                margin-bottom: 0;
                font-size: 18px;
                font-weight: normal;
                line-height: 19px;
            }
            .link-more-btn {
                display: inline-block;
                visibility: hidden;
                width: 37px;
                height: 37px;
                margin-right: 15px;
                background-image: url(../img/main/calendar-link-more.png);
                background-repeat: no-repeat;
                position: absolute;
                top: 50%;
                margin-top: -21.3px;
                right: 11px;
            }
        }
        &.concert {
            .home__right-col-description {
                .title {
                    display: block;
                }
            }
        }
        &:hover {
            .home__right-col-description {
                background-image: none;
                background-color: rgba(#000, 0.7);
            }
            .link-more-btn {
                visibility: visible;
            }
        }
    }
}

.home__right-col-news-list {
    > li {
        position: relative;
        list-style: none;
        margin-bottom: 25px;
        overflow: hidden;
        @extend %default-transition;
        .home__right-col-img-block {
            position: relative;
        }
        .date-wrap {
            position: absolute;
            display: inline-block;
            top: 20px;
            right: 0;
            padding: 11px 13px 16px 13px;
            font-family: 'Roboto-Bold';
            font-size: 14px;
            text-align: center;
            color: #fff;
            @include news-date;
        }
        .img {
            display: block;
            width: 100%;
            height: auto;
        }
        .home__right-col-description {
            position: absolute;
            left: 0;
            bottom: 0;
            padding-left: 29px;
            @include news-description;
            padding-bottom: 2px;
            .description {
                .title {
                    font-family: 'OpenSans-Regular';
                    font-size: 20px;
                    padding-bottom: 3px;
                    margin-bottom: -1px;
                    color: #ffffff;
                    font-weight: 300;
                }
                .text {
                    display: none;
                    font-family: 'OpenSans-Regular';
                    color: #c1b5b5;
                    transform: translateY(200%);
                    font-size: 12px;
                    opacity: 0;
                    @extend %default-transition;
                }
            }
            .bottom-block {
                @extend %clearfix;
                padding-bottom: 25px;
                margin-top: 13px;
                position: relative;
                .left-block {
                    float: left;
                    margin-top: -8px;
                    margin-left: 1px;
                }
                .right-block {
                    position: absolute;
                    bottom: 16px;
                    right: 2px;
                    .link-more-btn {
                        display: inline-block;
                        visibility: hidden;
                        width: 37px;
                        height: 37px;
                        margin-right: 27px;
                        background-image: url(../img/main/calendar-link-more.png);
                        background-repeat: no-repeat;
                        vertical-align: middle;
                        padding-top: 5px;
                    }
                }
            }
            .reviews {
                .comments {
                    background-image: url(../img/main/comments-icon.png);
                }
                .likes {
                    background-image: url(../img/main/likes-icon.png);
                }
                .comments,
                .likes {
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-position: left center;
                    .link {
                        display: inline-block;
                        vertical-align: middle;
                        font-family: 'OpenSans-Regular';
                        font-size: 14px;
                        text-transform: uppercase;
                        padding-left: 24px;
                        margin-right: 10px;
                        color: #4f81bd;
                    }
                }
            }
        }
        &:hover {
            .home__right-col-img-block {
                .home__right-col-description {
                    .description {
                        .text {
                            display: block;
                            position: relative;
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }
            .bottom-block {
                .right-block {
                    .link-more-btn {
                        display: inline-block;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.home__right-col-news-show-more {
    text-align: center;
    a {
        display: inline-block;
        font-family: 'OpenSans-Regular';
        font-size: 12px;
        color: #4f81bd;
        background-image: url(../img/main/show-more-btn.png);
        background-repeat: no-repeat;
        background-position: 80% center;
        @extend %default-transition;
        padding: 9px 68px 10px 42px;
        &:hover {
            color: #fff;
            background-color: #4f81bd;
            background-image: url(../img/main/home__right-col-news-show-more-btn.png);
        }
    }
}

.home__add-sections {
    background-color: #f7f7f7;
    .section {
        float: left;
        width: 44.600000000000001%;
        padding-top: 22px;
        margin-right: 6%;
        margin-bottom: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.home__add-sections-description {
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    line-height: 20px;
    color: #454547;
}

.home__add-sections-show-more-btn {
    display: inline-block;
    font-family: 'OpenSans-Regular';
    font-size: 12px;
    padding: 12px 68px 10px 20px;
    padding-right: 45px;
    min-height: 25px;
    color: #4f81bd;
    background-image: url(../img/main/show-more-btn.png);
    background-repeat: no-repeat;
    background-position: 93% center;
    @extend %default-transition;
    margin-left: -20px;
    &:hover {
        color: #fff;
        background-color: #4f81bd;
        background-image: url(../img/main/home__right-col-news-show-more-btn.png);
    }
}
